name: ci

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'
  push:
    paths:
      - 'Dockerfile'
      - '.github/workflows/ci.yml'
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./
        push: true
        tags: |
          ${{ vars.DOCKERHUB_USERNAME }}/google-cloud-sdk:latest
